/*essa parte é de technologies*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-main {
    text-align: center;
    margin: 20px 0;
}

.main-stacks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 30px;
}

.card-stacks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 400px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    margin: 10px;
    transition: all 200ms;
}


.card-stacks:hover {
    transform: scale(1.05);
}

.stacks-content {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.stacks-content img {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    overflow: hidden;
    object-fit: cover;
    padding: 10px;
    background-color: #fff;
 
}


.stacks-description {
    width: 100%;
    padding: 20px;
}

.stacks-description p {
    margin-top: 10px;
}

.habilities-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.habilities-content h3 {
    text-align: center;
    text-transform: uppercase;
}

.logo-span,
.hability-span {
    text-align: center;
}

.hability-span {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    text-transform: capitalize;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
}

.basic,
.intermediate,
.advanced {
    background-color: #5562FE;
}

@media screen and (max-width: 768px) {
    .left-stacks {
        width: auto;
        height: auto;
    }

    .right-stacks {
        width: auto;
        height: 200px;
    }

    .stacks-content {
        width: auto;
        height: auto;
        overflow: hidden;
    }

    .stacks-content img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}